
body {
  background: #272C35;
  align-content: center;
  
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
  
  text-align: center;
  font-family: 'Roboto', "HelveticaNeue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  
}
.center {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}
li{
  list-style: none;
  margin: -30px 0;
}

#menuBar {
  position: relative;
  width:50%;
  margin:auto;
}

ul#list-nav {
  background-color: #c8c8c8;
  list-style: none;
  width: 100%;
  align: center;
}

ul#list-nav li a {
  text-align: center;
  border-top: 1px #9CA4B5 solid;
  
  position:relative;
  text-decoration: none;
  padding: 5px 5px;
  width: 17%;
  
  color: #5CADF1;
  float: left;
  
}
ul#list-nav li a:hover {
  cursor: pointer;
  text-decoration: none;
  border-top: 1px #FF8244 solid;
  font-family: 'Roboto', "HelveticaNeue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-weight: 100;
}
